<%= form_with(model: operacione, local: true) do |form| %>
  <% if operacione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(operacione.errors.count, "error") %> prohibited this operacione from being saved:</h2>

      <ul>
      <% operacione.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :referencia %>
    <%= form.text_field :referencia, id: :operacione_referencia %>
  </div>

  <div class="field">
    <%= form.label :pedimento %>
    <%= form.text_field :pedimento, id: :operacione_pedimento %>
  </div>

  <div class="field">
    <%= form.label :cliente %>
    <%= form.text_field :cliente, id: :operacione_cliente %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
